[user]
	name = krtsato
	email = kuratasatoc@gmail.com
[core]
	editor = vim -c \"set fenc= utf-8\"
	excludesfile = ~/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[status]
	diff = auto
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	default = simple
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
	# To check them, command "git alias". 
	alias = !git config --list | grep alias
  a = !git add . && git status
	acm = !git add . && git commit -m
	b = branch
	bd = branch -D
	bm = branch -m
	bv = branch -vv 
  ca = commit --amend
	cl = clone
  cm = commit -m
	co = checkout
	cob = checkout -b
	copo = !git checkout main && git pull origin main
  d = diff
	f = fetch
	fr = !git fetch --all && git rebase origin/main
	fork = !git pull origin main && !git push myorigin main && git fetch --all -p
	l = log --graph --date=short --decorate=short --pretty=format:'%C(auto)%h %C(auto, dim)%cd %C(auto, dim)%cn %C(auto)%s%C(auto)%d\n'
	pl = pull
	ps = push
	pso = push origin
	psod = push origin --delete
	psou = push origin -u
	r = rebase
	ra = rebase --abort
	rc = rebase --continue
	rlri = !git rev-list -1 --merges HEAD | xargs git rebase -i
	rao = remote add origin
	rom = rebase origin/main
	s = status -sb
	st = stash
	stc = stash clear
	stl = stash list
	stp = stash pop
[includeIf "gitdir:~/go/src/github.com/awa/"]
  path = ~/.gitconfig.awa
[includeIf "gitdir:~/go/src/ghe.ca-tools.org/"]
	path = ~/.gitconfig.catools
[includeIf "gitdir:~/jobrepo/ISE/"]
  path = ~/.gitconfig.catools
[includeIf "gitdir:~/jobrepo/dokusho/"]
  path = ~/.gitconfig.catools
