<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>09A0BE94-12AA-4972-ADB6-01F5DA389A8D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaasana</string>
			<key>text</key>
			<string>awa-asana</string>
			<key>url</key>
			<string>https://app.asana.com/0/1202311307758451/timeline</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>14A4DD50-CD4D-4F8B-AB6F-6FA0476F0F86</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaawscost</string>
			<key>text</key>
			<string>awa-aws-cost</string>
			<key>url</key>
			<string>https://us-east-1.console.aws.amazon.com/cost-management/home?region=ap-northeast-1#/custom?groupBy=Service&amp;hasBlended=false&amp;hasAmortized=false&amp;excludeDiscounts=true&amp;excludeTaggedResources=false&amp;excludeCategorizedResources=false&amp;excludeForecast=false&amp;timeRangeOption=Last6Months&amp;granularity=Monthly&amp;reportName=&amp;reportType=CostUsage&amp;isTemplate=true&amp;filter=%5B%5D&amp;chartStyle=Group&amp;forecastTimeRangeOption=None&amp;usageAs=usageQuantity&amp;startDate=2022-02-01&amp;endDate=2022-07-31</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>16B23D44-F1E7-49A5-93DD-AB4C937196AC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaspreadbacklog</string>
			<key>text</key>
			<string>awa-spread-backlog</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/18iu8XaF2DSfcZRoOJys4Ap_Pd-Gew5l8Wkh93YPpLrQ/edit#gid=0</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>247CCF31-A8E4-4DE4-AC9D-1ABEB2CB25D4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaghgifting</string>
			<key>text</key>
			<string>awa-github-gifting</string>
			<key>url</key>
			<string>https://github.com/awa/gifting</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2A9686AA-D8C1-4175-A376-CA945F03EBA9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaawsecsservices</string>
			<key>text</key>
			<string>awa-aws-ecs-services</string>
			<key>url</key>
			<string>https://ap-northeast-1.console.aws.amazon.com/ecs/home?region=ap-northeast-1#/clusters/prd-private-cluster/services</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3D4C7209-3BBD-4B08-8CA0-825D170F0948</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awadbstar</string>
			<key>text</key>
			<string>awa-docbase-star</string>
			<key>url</key>
			<string>https://awa.docbase.io/my/starred</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4639DCB6-2870-41B8-BD47-70BDB1B1BC52</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awadriveokr</string>
			<key>text</key>
			<string>awa-drive-okr</string>
			<key>url</key>
			<string>https://drive.google.com/drive/folders/1NKUOFn7Cdp9Y3xe10F4pvnd9DjcSD00D</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4805C66E-70F0-4A20-B976-7612A491789B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>caringynew</string>
			<key>text</key>
			<string>ca-ringy-new</string>
			<key>url</key>
			<string>https://imt.services.isca.jp/imart/im_workflow/user/apply/apply_list</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>535661F6-FF08-4D7F-963D-9382FCD50603</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>camiro</string>
			<key>text</key>
			<string>ca-miro</string>
			<key>url</key>
			<string>https://miro.com/app/settings/team/3074457347263437075/profile</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>627692F4-7EB1-4471-856F-4F8339CE0CB7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaghliverpoolserver</string>
			<key>text</key>
			<string>awa-github-liverpool-server</string>
			<key>url</key>
			<string>https://github.com/awa/liverpool-server</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>687E07D6-EE3B-4624-976B-2598F83F6479</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaawscwdashlounge</string>
			<key>text</key>
			<string>awa-aws-cw-dash-lounge</string>
			<key>url</key>
			<string>https://ap-northeast-1.console.aws.amazon.com/cloudwatch/home?region=ap-northeast-1#dashboards:name=lounge</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>68AD96E9-BB44-4651-BB12-E3EACF460FB0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>caexpense</string>
			<key>text</key>
			<string>ca-expense</string>
			<key>url</key>
			<string>https://www.concursolutions.com/home.asp</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>68C68D85-2883-476B-AAF5-F904494EEFE6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaghterraformaws</string>
			<key>text</key>
			<string>awa-github-terraform-aws</string>
			<key>url</key>
			<string>https://github.com/awa/terraform-aws</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6D507AD7-6730-4DCC-ACF5-856CEFE35A91</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaawscwlogs</string>
			<key>text</key>
			<string>awa-aws-cw-logs</string>
			<key>url</key>
			<string>https://ap-northeast-1.console.aws.amazon.com/cloudwatch/home?region=ap-northeast-1#logsV2:log-groups</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>74F2ADBF-3241-4DD1-80F9-4ABEAFE25886</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaspreadloungelevel</string>
			<key>text</key>
			<string>awa-spread-lounge-level</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/1l4oCEPWA0bme5qH6opNqwX8zwT_grW6GkXQ8auBNoRo/edit#gid=1839351176</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8870BC8F-6188-434E-937C-8C5B4A1BA554</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaghserver</string>
			<key>text</key>
			<string>awa-github-server</string>
			<key>url</key>
			<string>https://github.com/orgs/awa/projects/113</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8BE97641-C781-4CC8-9D73-70BB447876A0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaspreadcost</string>
			<key>text</key>
			<string>awa-spread-cost</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/1qSBclqviTGhDu8JujfqZaxvpgxsgOt51WmmYGltLgq0/edit#gid=166451729</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9F6ACFD2-0075-49F0-8717-7CA4D91987FF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaghpayment</string>
			<key>text</key>
			<string>awa-github-payment-server</string>
			<key>url</key>
			<string>https://github.com/awa/awa-payment-server</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A18009B0-1736-4E4F-9014-A6E7D0381047</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaghliverpoolservercore</string>
			<key>text</key>
			<string>awa-github-liverpool-server-core</string>
			<key>url</key>
			<string>https://github.com/awa/liverpool-server-core</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B163261B-CA3E-49E3-9D0E-E88FA79FB620</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>caattend</string>
			<key>text</key>
			<string>ca-attendance</string>
			<key>url</key>
			<string>https://oam.services.isca.jp/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D57289DA-1ED7-4948-B3E9-F545B3ED4606</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awadbsearch</string>
			<key>text</key>
			<string>awa-docbase-search</string>
			<key>url</key>
			<string>https://awa.docbase.io/search?q=desc%3Acreated_at%20{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DAEB70E6-FD86-495D-8ECB-72D0F8FEEE69</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awadb</string>
			<key>text</key>
			<string>awa-docbase</string>
			<key>url</key>
			<string>https://awa.docbase.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DDCE27A2-6B88-4DB0-A380-1D5C3B8304CD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaspreadbqlog</string>
			<key>text</key>
			<string>awa-spread-bqlog</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/1b7aVZ70Favw0EIeLlDn3jXSbBIp2Ct9ny4rXiaR32f0/edit#gid=1146799135</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EED207C2-6C24-438B-AF01-E6E69B8B5A25</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awaghroom</string>
			<key>text</key>
			<string>awa-github-room</string>
			<key>url</key>
			<string>https://github.com/awa/room</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F2934096-F656-4227-BE28-49258EC2D066</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>caringylist</string>
			<key>text</key>
			<string>ca-ringy-list</string>
			<key>url</key>
			<string>https://imt.services.isca.jp/imart/im_workflow/user/cpl_proc/actv_proc_list</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F3BAF4CD-4549-46E4-8AA6-141738970A02</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awamiro</string>
			<key>text</key>
			<string>awa-miro</string>
			<key>url</key>
			<string>https://miro.com/app/settings/team/3074457347150171610/profile</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
